<!-- select_and_delete_match.html -->

{% extends "base.html" %}

{% block content %}
    <h2>Select a Match</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="select_match">Show Matches</button>
    </form>

    {% if match_list %}
        <h3>Match(es) Found</h3>
        <ul>
            {% for match in match_list %}
                <li>{{ match.season }}: {{ match.hometeam }} vs {{ match.awayteam }} - <button type="submit" name="delete_match" value="{{ match.id }}">Delete</button></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
