<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="select">Sélectionner le match</button>
</form>

{% if match_info %}
    <div>
        <p>Saison: {{ match_info.season }}</p>
        <p>Home Team: {{ match_info.home_team }}</p>
        <p>Away Team: {{ match_info.away_team }}</p>
        <!-- Affichez d'autres informations sur le match si nécessaire -->
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="match_id" value="{{ match_info.id }}">
            <button type="submit" name="delete">Supprimer le match</button>
        </form>
    </div>
{% endif %}
